<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/addDevice.css">
</head>
<body>
    <nav>
        <a class="logo" href="#">
            <img src="/images/20220607_113005_0000.jpg" alt="" srcset="">
            ELEMA-GS2
        </a>
        <a class="notif" href="#">
            <img src="/images/img_489991.png">
            <div class="notifContent">
                <% for(var i = 0; i < deviceData.length; i++) {%>
                    <% if (deviceData[i].life !== undefined && deviceData[i].life == 0) {%>
                        <button>
                            Life span of <%= deviceData[i].devId %> in location <%= deviceData[i].devLoc %> is now <%= deviceData[i].life %>
                        </button>
                        
                    <% }%>
                <% }%>
            </div>
        </a>
        <a class="buildName" href="#">Building Name</a>    
    </nav>
    <div id="belowNav">
        <div class="left">
            <ul>
                <li><a href="">Building</a></li>
                <li>></li>
                <li><a href="">Floor</a></li>
                <li>></li>
                <li><a href="">Room</a></li>
                <li>></li>
                <li><a href="">Devices</a></li>
            </ul>
        </div>
        
        <div class="right">
            <input type="text" placeholder="Search here">
            <button id="search"><img src="/images/Group 19.png" alt=""></button>
        </div>
    </div>
    <main>
        <div class="pgTitle">
            <div>Summary of Electric Devices in </div>
            <input type="text" value="Room 1">
        </div>
        <div class="overall">
            <button id="addImg">
                <div id="btnText">
                    + Add Floor Plan
                </div>
            </button>
            <div class="modalForm" id="addImgModal">
                <div id="dottedModal">
                    <input type="text" name="" id="" placeholder="Add Floor Plan Name">
                    <div class="inFile">
                        <label for="imgFile">Select Image File</label>
                        <input type="file" name="imgFile" id="imgFile" accept="image/png, image/gif, image/jpeg">
                    </div>
                    <div class="btns">
                        <button id="saveImg" type="button">Save</button>
                        <button id="closeModal">Close</button>
                    </div>
                </div>
            </div>
            <div class="tbl">
                <table id="devTbl">
                    <tr>
                        <th>Devie ID</th>
                        <th>Device Location</th>
                        <th>Device Type</th>
                        <th>Life Span</th>
                        <th>Meter (Hr)</th>
                        <th>Date of installment</th>
                        <th>Time of installment</th>
                        <th>Status</th>
                        <th>Inspection Status</th>
                        <th>Commands</th>
                    </tr>
                    <% for(var i = 0; i < deviceData.length; i++) {%>
                        <% if(deviceData[i].devId) {%>    
                            <tr>
                                <td><%= deviceData[i].devId %></td>
                                <td><%= deviceData[i].devLoc %></td>
                                <td><%= deviceData[i].devTyp %></td>
                                <td><%= deviceData[i].life %></td>
                                <td id="<%= deviceData[i].devId %>">00:00:00</td>
                                <td><%= deviceData[i].dateInstall %></td>
                                <td><%= deviceData[i].timeInstall %></td>
                                <td><%= deviceData[i].stat %></td>
                                <td><%= deviceData[i].inspStat %></td>
                                <td><button action="/device" onclick="editRow('<%= deviceData[i].devId %>')">Edit</button><button action="/device" onclick="deleteRow('<%= deviceData[i].devId %>')">Delete</button></td>
                            </tr>
                        <%}%>        
                    <%}%>
                </table>
                <button id="addDevice">+Add Device</button>
                <div class="modalForm" id="addDev">
                    <form class="modalOverall" action="/device" method="POST">
                        <div class="modalInput">
                            <label for="">Device ID</label>
                            <% if(typeof devIdData !== 'undefined') {%>
                                <input name="devId" type="text" value="<%= devId.devId %>">
                            <%}else{%>
                                <input name="devId" type="text">
                            <%}%>
                        </div>
                        <div class="modalInput">
                            <label for="">Device Location</label>
                            <input name="devLoc" type="text">
                        </div>
                        <div class="modalInput">
                            <label for="">Device Type</label>
                            <input name="devTyp" type="text">
                        </div>
                        <div class="modalInput">
                            <label for="">Life Span</label>
                            <input name="life" type="number">
                        </div>
                        <div class="modalInput">
                            <label for="">Meter</label>
                            <input name="meter" type="text" disabled>
                        </div>
                        <div class="modalInput">
                            <label for="">Date of Installment</label>
                            <input name="dateInstall" type="date">
                        </div>
                        <div class="modalInput">
                            <label for="">Time of Installment</label>
                            <input name="timeInstall" type="time">
                        </div>
                        <div class="modalInput">
                            <label for="">Status</label>
                            <input name="stat" type="text">
                        </div>
                        <div class="modalInput">
                            <label for="">Inspection Status</label>
                            <input name="inspStat" type="text">
                        </div>
                        <div class="modalBtn">
                            <button id="saveDevModal" type="submit">save</button>
                            <button id="closeDevModal" type="button">close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </footer>
    <script src="/javascript/addDevice.js"></script>
</body>
</html>