<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Floors</title>
    <link rel="stylesheet" href="/css/buildFloors.css">
</head>
<body>
    <nav>
        <a class="logo" href="#">
            <img src="/images/20220607_113005_0000.jpg" alt="" srcset="">
            ELEMA-GS2
        </a>
        <a class="notif" href="#">
            <img src="/images/img_489991.png">
            <div class="notifContent">
                <% for(var i = 0; i < floors.length; i++) {%>
                    <% if (floors[i].life !== undefined && floors[i].life == 0) {%>
                        <button>
                            Life span of <%= floors[i].devId %> in location <%= floors[i].devLoc %> is now <%= floors[i].life %>
                        </button>
                        
                    <% }%>
                <% }%>
            </div>
        </a>
        <a class="buildName" href="#">Building Name</a>    
    </nav>
    <div id="belowNav">
        <div class="left">
            <ul>
                <li><a href="">Building</a></li>
                <li>></li>
                <li><a href="">Floor</a></li>
            </ul>
        </div>
        
        <div class="right">
            <input type="text" placeholder="Search here">
            <button id="search"><img src="/images/Group 19.png" alt=""></button>
        </div>
    </div>
    <main>
        <div id="floorArea">
            <% for(var i = 0; i < floors.length; i++) {%>
                <%if (floors[i].floorID) {%>
                    <div onmouseover="hovered(this.id)" onmouseleave="left(this.id)" 
                    id="<%=floors[i].floorID%>"
                    style="width: 200px;
                    height: 200px;
                    /*top right bottom left*/
                    margin: 20px 10px 10px 10px;
                    text-align: center;"    
                    >
                        <div class="floorName"><%=floors[i].floorName%></div>
                        <div class="floorBtns" 
                        style="display: none;
                        margin: 0 0 0 35px;">
                            <button style="padding: 5px;" onclick="currFloor('<%=floors[i].floorName%>')">Visit</button>
                            <a style="padding: 5px;" href="#">Edit</a>
                            <a style="padding: 5px;" href="#">Delete</a>
                        </div>
                    </div>
                <%}%>    
            <%}%>
            <button id="addFloor">Add Floor</button>
                  
            
        </div>
        <form class="modalForm" action="/floor" method="POST">
            <div id="dottedModal">
                <div class="addFloorName">
                    <div>
                        <label for="floorID">Floor ID:</label>
                        <input type="text" name="floorID" id="floorID">
                    </div>
                    <label for="floorName">Floor Name:</label>
                    <input type="text" name="floorName" id="floorName">
                </div>
                <div class="btns">
                    <button id="save" type="submit">Save</button>
                    <button id="close" type="button">Close</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </footer>
    <script src="/javascript/buildFloors.js"></script>
</body>
</html>